name: OpenAPI Schema

permissions:
  contents: read

on:
  push:
    branches: ['master']

jobs:
  openapi:
    name: OpenAPI Schema
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v30
      with:
        nix_path: nixpkgs=channel:nixos-24.11
    - uses: cachix/cachix-action@v15
      with:
        name: cs2kz
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: generate schema
      run: nix run .#openapi-schema > openapi.json
    - uses: actions/upload-artifact@v4
      with:
        name: openapi.json
        path: openapi.json
